<nav class="navbar ">
  <div class="navbar-brand">
    <%= link_to '/', class: 'navbar-item' do %>
      <%= image_tag('pear-programming.png') %>
      <h1 class="title is-4">&nbsp;&nbsp;Pearing</h1>
    <% end %>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">Pairing History</div>
        <div class="navbar-dropdown">
          <!--add teams here-->
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <!--stuff on the right side goes here-->
    </div>
  </div>
</nav>
